<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </script>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- <script src="{{ url_for('static', filename='script.js' )}}"></script> -->
    <script src=static/script.js text="main.js"></script>
    <title>오늘의 퀴즈</title>
    <script>
      tailwind.config = { theme: { extend: { colors: { main: "#A57A62" } } } };
    </script>
</head>

<body>
    <header class="w-full bg-white shadow-md p-4 flex justify-center sticky top-0 z-51">
      <div class="flex items-center justify-between w-full max-w-[1000px]">
        <h1 class="text-4xl font-extrabold text-[#a57a62]">오늘의 퀴즈</h1>
        <button id="login-btn" class="hover:underline transition-colors">
            로그인
        </button>
      </div>
    </header>

    <main class="text-center">
        <div class="pt-[100px] text-[45px] font-bold">
            <p>매일 3문제로</p>
        </div>
        <div class="text-[20px]">
            <p>
                심심할 땐 한 문제, 오늘의 퀴즈로 머리를 윔업해보세요
            </p>
        </div>

        <div class="pt-[100px] w-full">
            <button id="start-btn"
                class="bg-[#a57a62] border-[#a57a62] w-[150px] h-[50px] text-[27px] mx-auto text-white rounded-lg shadow-lg hover:opacity-90 focus:outline-[2px] focus:outline-[#7a5845] focus:outline-solid transition-all">
                시작하기
            </button>
        </div>
    </main>

    <script>
        document.getElementById('login-btn').addEventListener('click', () => {
            console.log('Login button clicked!');
            window.location.href = 'loginpage';
        });

        document.getElementById('start-btn').addEventListener('click', () => {
            console.log('Start button clicked!');

            window.location.href = 'loginpage';
        });
    </script>
</body>

</html>